#wpwrap,
#wpbody-content{
	background: white;
}

#tad{
	width: 50%;
	min-height: 300px;
}

.bp-settings--editor-cover{
	max-width: 50%;
}

@media screen and (max-width: 960px){
	.bp-settings--editor-cover{
		max-width: 97%;
	}
}